

<section>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 retail mtop-51">
        <div class="container"><div class="rui-heading">
            <h1><span>Account Overview</span></h1>
        </div>
        </div>
    </div>


    <div class="container">
        <span class="col-xs-12">ACCOUNT NUMBER</span>
    <div id="mainselection">
        <select ng-model="vm.selectedAccount">
            <option>Select an Option</option>
            <option ng-repeat="account in vm.accountList" value="{{account.accountNumber}}">{{account.accountNumber}}</option>
        </select>
    </div>
    </div>

    <div class="container margin-top-bottom">
        <my-account-balance account-number="vm.selectedAccount"></my-account-balance>
    </div>

    <div class="container margin-top-bottom">
        <my-subscribers account-number="vm.selectedAccount"></my-subscribers>
    </div>

</section>


